[submodule "android"]
	path = android
	url = https://github.com/redchenjs/auto_curtain_controller_android
[submodule "msp430"]
	path = msp430
	url = https://github.com/redchenjs/auto_curtain_controller_msp430
